.section-stories {
    padding: 20rem 0;
    background-size: cover;
    margin-top: -15rem;
    position: relative;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.story {
    width: 75%;
    margin: 2em auto;
    box-shadow: 0 3rem 6rem rgba(black, .1);
    background-color: rgba(rgba(34, 134, 165, 0.486), .6);
    border-radius: 8px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: 16px;
    transform: skewX(-12deg);
    position: relative;

    &__heading {
        text-align: center;

        &-secondary {
            font-size: 4em;
            color: #06b161;
        }

        &-tertiary {
            margin-bottom: 1em;
        }
    }

    &__shape {
        height: 15rem;
        width: 15rem;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%); // for this to work...opbject should be floated with defined width and height
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) translateY(-2rem) skewX(12deg);
    }

    &__img {
        height: 100%;
        transform: translateX(-2rem) scale(1.4);
        transition: all .5s;
        object-fit: fill;
        overflow: hidden;
    }
    
    &__text {
        transform: skewX(12deg);
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }
    
    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }
}