.user {

    margin: auto;
    margin-top: 10em;
    width: 95%;
    display: flex;
    
    &__user-box {
        
        background-color: whitesmoke;
        border-radius: 10px;
        height: 20em;
        flex: 1 auto;
        margin-right: 5em;

        &--img {

        }

        &--text {

            padding: 2em;
        }

        &--username {

        }

        &--name {
            
        }

        &--phone-number {
            
        }

        &--email {
            
        }
    }

    &__course-box {

        background-color: whitesmoke;
        border-radius: 10px;
        flex: 1 auto;

        &--text {

            padding: 2em;
        }

        &--courses {

        }

        &--completed {

        }

        &--enrolled {

        }
    }

    &__dogs {

        margin: auto;
        margin-top: 5em;
        width: 95%;
        background-color: whitesmoke;
        border-radius: 10px;

        &--cards-list {

            padding: 2em 0;
            width: 97%;
            margin: auto;
            list-style: none;
        }

        &--card {

            border-radius: 10px;
            border: 1px solid gray;
            background-color: rgb(255, 255, 255);
            position: relative;
            height: 15rem;
            display: table;
            width: 100%;

            &:not(:last-child) {

                margin-bottom: 3em;
            }

            &-container {

                display: flex;
                flex-wrap: wrap;
            }

            &-table {

                display: table-cell;
                vertical-align: middle;
            }

            &-shape {

                height: 10rem;
                width: 10rem;
                -webkit-shape-outside: circle(50% at 50% 50%);
                shape-outside: circle(50% at 50% 50%);
                -webkit-clip-path: circle(50% at 50% 50%);
                clip-path: circle(50% at 50% 50%);
            }

            &-img {

                height: 100%;
                transition: all .5s;
                object-fit: fill;
                overflow: hidden;

                &--container {

                    padding-left: 3em;
                }
            }

            &-text {

                &:not(:last-child) {

                    padding-bottom: 1em;
                }

                &--dog {
                    flex-grow: 2;
                }

                &--classes {
                    flex-grow: 1.5;
                }

                &--container {
                    display: flex;
                    flex-wrap: wrap;
                    flex-grow: 2;
                    padding-left: 3em;
                    margin: auto;
                }
            }
        }

        &--add-dog {

            border-radius: 10px;
            padding: 15px 32px;
            font-size: large;
        }
    }
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.justify-space-between {
    justify-content: space-between;
}