.user {

    margin: auto;
    margin-top: 10em;
    width: 95%;
    display: flex;
    
    &__user-box {
        background-color: whitesmoke;
        border-radius: 10px;
        height: 20em;
        flex: 1 auto;
        margin-right: 5em;

        &--img {

        }

        &--text {

            padding: 2em;
        }

        &--username {

        }

        &--name {
            
        }

        &--phone-number {
            
        }

        &--email {
            
        }
    }

    &__course-box {

        background-color: whitesmoke;
        border-radius: 10px;
        flex: 1 auto;

        &--text {
            padding: 2em;
        }

        &--courses {

        }

        &--completed {

        }

        &--enrolled {

        }
    }

    &__dogs {

        margin: auto;
        margin-top: 5em;
        width: 95%;
        background-color: whitesmoke;
        border-radius: 10px;

        &--cards-list {
            padding: 2em 0;
            width: 97%;
            margin: auto;
            list-style: none;
        }

        &--card {
            
            
            border-radius: 10px;
            border: 1px solid gray;
            background-color: rgb(255, 255, 255);

            &:not(:last-child) {
                margin-bottom: 3em;
                
            }

            &-img {
                
            }

            &-text {
                padding: 1em;
            }
        }
    }
}