.navigation {
    background-color: rgb(2, 95, 24);
    height: 6em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    &__icon {
        float:left;
        height: 6em;
        width: 6em;
        margin-left: 1em;
    }

    .navigation__list {
        float: right;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .navigation__item {
        list-style: none;
        height: 100%;
        width: 10em;
        margin: auto 0;
        line-height: 100%;
        text-align: center;
        font-size: 2em;
        cursor: pointer;
        position: relative;
        transition: all .3s ease;

        &:hover {
            background-color: rgb(17, 160, 51);

            > .navigation__item--text {
                font-size: 1.3em;
                top: 35%
            }
        }

        &--text {
            transition: all .3s ease;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            display: inline-block;
            color: white;
          }
    }
}